*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'JetBrains Mono', monospace;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}


/* Empezamos con el header y menu */

.main-header {
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #2A2D34;
}

.logo {
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    color: #d3d5d4;
    font-weight: 900;
    margin-left: 2rem;

}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem 5rem;
}

.menu a {
    text-decoration: none;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: #D3D5D4;
}

.menu a:hover {
    color: white;
}

/* Estilos primera sección layoput doble */

.introduccion {
    display: flex;
    min-height: 94vh;
}

.layout1 {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.layout1 h1 {
    font-size: 3rem;
    max-width: 42rem;
}

.resaltado {
    color: #3F51B5;
    font-weight: 800;
}

.layout2 {
    flex-basis: 50%;
    background-color: #3F51B5;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Footer */

.main-footer {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;

}

.social-media menu {
    margin-top: 3rem;
}

.social-media menu a {
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    font-size: 3rem;
    margin-top: 5rem;
}


.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    padding: 1rem;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}


.sobre-mi {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}

.actualidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}

.footer-content h3 {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2rem;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content ul li {

    font-size: 1rem;
}

.footer-content i {
    padding: 1rem;
    font-size: 2rem;
}

.copy {
    color: white;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}