*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
}

body {
    min-height: 100vh;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2D34;
}

.logo {
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    color: #d3d5d4;
    font-weight: 900;
    margin-left: 2rem;

}




.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 5rem;
}

.menu a {
    text-decoration: none;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #D3D5D4;
}