*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1rem 2rem;
    size: 5rem;
}

.logo img {}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 5rem;
}

.menu a {
    text-decoration: none;
    padding: 2rem;
    font-size: 1.5rem;
}